.profile-picture{
    text-align: center;
    margin: -100px auto;
}
img{
    border-radius: 8px;
}
.workCalendar{
    background-color:#03738C;
    padding: 10px;
    margin: 10px;
}
.goals{
    background-color:#91E0F2;
    padding: 10px;
    margin: 10px;

}