#authBody{
    background-image: url("../images/barbell-on-the-floor-1552252.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
.modal{
    background-color: deepskyblue;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    border-radius:25px;
    width:660px;
}
#inputs{
    margin-left: 250px;
    margin-top:5px;
}
#signup-button{
    margin-top: 10px;
    width:190px;
    background-color: crimson;
    color: aliceblue;
}
.accountbutton{
    padding: 0;
    border: none;
    background: none;
}
