
/*************** NAVBAR ***************/
.pure-menu{
  position: fixed;
  top: 0;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  font-size: 25px;
  height: 4rem;
  z-index: 100;
  opacity: 75%;

}
/****************** MODALS ******************/
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.95);
}
.modal-content{
  background-color: lightblue;
  margin: 15% auto;
  padding: 20px;
  width: 70%;
  align-content: center ;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
.signup-modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.95);
}
.signup-modal-content{
  background-color: lightblue;
  margin: 15% auto;
  padding: 20px;
  width: 70%;
  align-content: center ;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}
#account-modal{
  display: none;
}
.accDetails{
  width: 900px;
  height: 140px;
}
.close {
  color: #ccc;
  float: left;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
/****************** HOME  ******************/
.main-body{
  height: 100%;
  width: 100%;
  margin: 20px;
}
.home{
  width: 100%;
  height: 900px;
  background-image: url("../images/barbell.png");
  background-size: cover;

  
}
.quote{
  width: 100%;
  height: 450px;
  /* margin-right: 200px; */
}
.welcome-banner{
  display: flex;
  color: whitesmoke;
  font-size: 30px;
  padding-top: 10%;
  margin-left: 18%;
}
.motivational{
  display: flexbox;
  color:whitesmoke;
  font-size: 20px;
  width: 660px;
  margin-left:40%;
  
}
/****************** WORKOUT ******************/
.workout{
  width: 100%;
  height: 900px;
  background-image: url("../images/crossfit.png");
  background-size: cover;
}
.workout-banner{
  display: flex;
  color: whitesmoke;
  font-size: 30px;
  margin-left: 18%; 
  padding-top: 10%;
}
.workout-container{
  width: 100%;
  height: 200px;
  /* margin-left: 200px; abc */ 
  margin-left: 20%;
}
.w1{
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 400px;
  line-height: 30px;
  background: gray;
  color: white;
  font-size: 30px;
  margin: 0 4px;
  text-align: center;
}

/****************** NUTRITION  ******************/
.nutrition{
  width: 100%;
  height: 900px;
  background-image: url("../images/food.png");
  background-size: cover;

}
.nutrition-banner{
  position: absolute;
  width: 400px;
  height: 100px;
  color: #F8EA8C;
  background-color: darkcyan;
  border-radius: 25px;
  font-size: 30px;
  margin-top: 5%;
  margin-left: 20%;
}
.nutrition-banner h2{
  /* padding-left: 20px; */
  /* margin-bottom: 10px; */
}
.nutrition-data-container{
  position: absolute;
  width: 600px;
  height: 400px;
  background-color:darkcyan;
  color: #F8EA8C;
  opacity: .9;
  margin-top:15%;
  margin-left:25%; 
  border: 5px solid #A4E8E0;
  border-radius: 15px;
  box-shadow: 5px 10px #F8EA8C; 

}
.nutrition-data-container ul{
  /* padding-left: 140px; abc nothing*/
  padding-top:35px;
  list-style-type: none;
  font-size: 40px;
}
/****************** GYMS ******************/
.gyms{
  width: 100%;
  height: 1200px;
  background-image: url("../images/sf.png");
  background-size:cover;
}
.gyms-banner{
  position: absolute;
  width: 500px;
  height: 100px;
  color: whitesmoke;
  background-color: grey;
  border-radius: 25px;
  font-size: 30px;
  margin-top: 260px;
  margin-left: 500px;
  padding-bottom: 20px;
}
.gyms-banner h2{
  padding-left: 20px;
  margin-bottom: 10px;
  
}




/******************  ******************/

/*  yelp*/
.form-contain {
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    position:relative;
    left:30%;
    top:15%;
    background-color: grey;
    opacity: .8;
  }
.gymDiv{
    width:575px;
    max-height: 100px;
}
  input {
    display: block;
    margin: 10px;
  }

  h2 {
    text-align: center;

  }
 
  p {
    text-align: center;
  }

  .thumbnail {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    float: left;
  }

  .address {
    margin-bottom: 120px;
  }

@media only screen and (max-width: 600px) {
  body {
    display: inline-block;
  }
  .welcome-banner{
   
    padding-top: 10%;
    margin-left: 10px;
  }
  .motivational{
  
    margin-left:10px;
    
  }
  .workout-container{
   
    margin-left: 3px;
  }
  .workout{
   
    height: 1000px;
   
  }
  .nutrition-data-container{
   
    margin-top:70%;
    margin-left:10%; 

  
  }
  .nutrition-banner{
    
    margin-top: 25%;
    margin-left: 20%;
  }
  .gymDiv{
    width:400px;
    max-height: 100px;
}
}